body {
    background-color: lightgray;
    font-family: arial;
    margin-left: 20px;
}

#box {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 85%;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
}

#box2 {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 85%;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px; 
}


button {
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}